.judul{
    padding: 20px;
    text-align: center;
    color: azure;
    background-color: rgb(122, 187, 139);
    margin-bottom: -20px;
}
.test{
    color: rgb(255, 255, 255);
    background-color: rgb(187, 223, 173);
}
.test a{
    float: right;
    margin-right: 20px;
}
.test h3{
    margin-left: 20px;
}
.font{
    font-size: 20px;
}